<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ACN4AV_Jeronimo_Lago"

        tools:targetApi="31">

        <activity
            android:name=".activities.MapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FormAutoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FormConcesionariaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConcesionariaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConcesionariasActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>
